.contact-form-container {
	text-align: center;
	position: fixed;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width: 350px;
}

.input-form {
	justify-content: center;
	width: 600px;
}

.contact-label {
	font-size: 20px;
}

.contact-input {
	width: 330px;
	height: 60px;
	border-radius: 5px;
	border: none;
	margin-top: 15px;
	margin-bottom: 15px;
}

.email-text-box {
	width: 600px;
	margin-left: -125px;
	height: 200px;
	/* text-align: center; */
}

.contact-submit {
	margin-top: 10px;
}
