.title {
	font-size: 60px;
	color: white;
	text-align: center;
	margin: 0px;
	background-image: linear-gradient(black, rgb(41, 41, 41));
	padding-top: 41px;
	padding-bottom: 41px;
	margin-bottom: 50px;
}

.home-title {
	font-size: 60px;
	color: white;
	text-align: center;
	margin: 0px;
	background-image: linear-gradient(black, rgb(41, 41, 41));
	padding-top: 41px;
	padding-bottom: 41px;
}

.episodes-container {
	display: inline-block;
	justify-content: space-around;
}

.episode-container {
	display: inline-block;
	/* margin-left: 32px; */
	padding: 32px;
	width: 300px;
	text-align: center;
}

.videos {
	margin-bottom: 15px;
	width: 200px;
	height: 200px;
	border: none;
}

.audios {
	width: 200px;
	height: 80px;
	border: none;
}

.guest-link {
	color: white;
}

@media only screen and (min-width: 731px) {
	/* .episode-container {
		margin-left: 160px;
	} */

	/* .title {
		margin-left: 160px;
	} */
}
