.episodes-container {
	display: block;
	/* margin-left: 32px; */
	padding: 32px;
	width: 500px;
}

.episodes-title {
	margin-left: 32px;
}

iframe {
}

.videos {
	margin: 5px auto;
}

/* .audios {
	padding-left: 32px;
} */
