.home-container {
	color: white;
	padding-bottom: 20px;
}

.header-container {
	background-image: linear-gradient(rgb(36, 67, 206), rgb(0, 0, 82));
	background-color: #111;
	padding-bottom: 30px;
	padding-top: 50px;
}

.header-intro {
	font-size: 18px;
	font-weight: bold;
	margin: 0px;
}

.header-title {
	font-size: 32px;
	font-weight: bold;
}

.header-subtitle {
	font-size: 24px;
	font-weight: bold;
}

.header-image {
	width: 250px;
	border-radius: 10px;
	float: left;
	margin-right: 50px;
	margin-left: 32px;
}

.hatcher-summary-container {
	width: 50%;
	line-height: 200%;
	margin-top: 150px;
	margin-left: 32px;
}

.sidemenu-margin {
	margin-left: 160px;
}

/* MEDIA QUERY FOR TABLET AND MOBILE DEVICES */
@media only screen and (max-device-width: 730px) {
	.home-container {
		text-align: center;
		margin: 0px;
	}

	.sidemenu-margin {
		margin-left: 0px;
	}

	.header-image {
		margin-left: 0px;
		float: none;
		width: 150px;
		margin-right: 0px;
	}

	.header-container {
		padding-left: 32px;
		text-align: center;
	}

	.hatcher-summary-container {
		width: 80%;
		margin-left: 10%;
		margin-right: 10%;
		text-align: center;
	}

	.home-episodes {
		margin-top: 500px;
	}
}
