@media only screen and (max-device-width: 730px) {
	/* .other-nav {
		padding-top: 15px;
		margin-top: 15px;
		padding: 0;
		border: none;
	} */

	.side-bar-container {
		background-color: yellow;
	}

	.other-nav {
		background-image: linear-gradient(black, gray);
		color: white;
		width: 160px;
		height: 100vh;
		bottom: 0;
		position: fixed;
		float: left;
		top: 0px;
		left: 0px;
		background-color: #111;
		padding-top: 20px;
		margin-top: 40px;
		display: block;
		margin-right: 32px;
		/* background-color: yellow; */
	}

	.other-nav a {
		padding: 6px 8px 6px 16px;
		text-decoration: none;
		font-size: 25px;
		color: #818181;
		display: inline-block;
	}
}
