@media only screen and (max-width: 730px) {
	.other-nav {
		width: 160px;
		height: 100vh;

		/* position: absolute; */
		bottom: 0;
		/* position: sticky; */
		/* position: absolute;
position: fixed;
position: sticky; */
		position: fixed;
		float: left;
		top: 0px;
		left: 0px;
		/* right: 0px; */
		background-color: #111;
		/* overflow-x: visible; */
		/* overflow: auto; */
		padding-top: 20px;
		/* margin-right: 50px; */
		display: block;
		/* flex-grow: 1; */
		margin-right: 32px;
	}

	.other-nav a {
		padding: 6px 8px 6px 16px;
		text-decoration: none;
		font-size: 25px;
		color: #818181;
		display: inline-block;
	}
}
