.main-menu {
	display: none;
}

.mobile-menu-button {
	display: none;
}

.side-bar-container {
	background-color: yellow;
	color: white;
}

ul {
	padding-left: 0px;
}

li {
	list-style-type: none;
}

/* DROP DOWN MOBILE MENU BUTTON */
@media only screen and (max-device-width: 730px) {
	.mobile-menu-button {
		display: initial;
		color: gray;
		background-color: black;
		border: none;
		padding-top: 15px;
		padding-left: 20px;
		padding-bottom: 10px;
		width: 100%;
		text-align: left;
		font-size: 20px;
	}
}

.first-list {
	margin-top: 20px;
}

/* DESKTOP MENU */
@media only screen and (min-width: 731px) {
	.main-menu {
		width: 160px;
		height: 100vh;
		bottom: 0;
		position: fixed;
		float: left;
		top: 0px;
		left: 0px;
		background-color: #111;
		display: block;
		margin-right: 32px;
		padding-top: 40px;
	}

	.main-menu a {
		padding: 5px 8px 6px 16px;
		text-decoration: none;
		font-size: 25px;
		color: #818181;
		display: inline-block;
	}

	.main-menu a:hover {
		color: #f1f1f1;
	}
}
