html {
	background-image: linear-gradient(blue, black);
	background-size: cover;
	background-repeat: no-repeat;

	background-color: #111;
	height: 100%;
	overflow: auto;
	color: white;
}

body {
	background-image: linear-gradient(blue, black);
	background-size: cover;
	background-repeat: no-repeat;

	background-color: #111;
	height: 100%;
	overflow: auto;
}

.app-container {
	background-size: cover;
	background-repeat: no-repeat;

	height: 100%;
	overflow: auto;
}
